// @Author: <> with ❤ by Aymen ZAOUALI
// @Date:   2019-07-10T15:16:48+01:00
// @Last modified by:   <> with ❤ by Aymen ZAOUALI
// @Last modified time: 2019-07-12T12:54:17+01:00
// @License: The computer program contained herein contains proprietary information which is the property of Chifco.
// @Copyright: Copyright (c) 2019 CHIFCO

#carousel {
  position: absolute;
  height: 280px;
  width: 290px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.imageProducts {
  width: 100%;
}
@media screen and (max-width: 400px) {
  .imageProducts {
    width: 35vw;
  }
}
.enablecheckdisp {
  height: 25px;
  width: 25px;
  background: #00ff00;
  z-index: 99999;
  position: absolute;
  border-radius: 50%;
  right: 0;
  // left: 67%;
  top: -8px;
  box-shadow: 0px 0px 5px 1px #000;
}
.enablechecknondips {
  height: 25px;
  width: 25px;
  background: #ed2a1c;
  z-index: 99999;
  position: absolute;
  border-radius: 50%;
  right: 0;
  // left: 67%;
  top: -8px;
  box-shadow: 0px 0px 5px 1px #000;
}
.btnSubmitCheck {
  position: absolute;
  bottom: 15px;
  width: 180px;
}
.disablecheck {
  height: 25px;
  width: 25px;
  background: #9a9a9a;
  z-index: 99999;
  position: absolute;
  border-radius: 50%;
  // left: 67%;
  right: 0;
  top: -8px;
  box-shadow: 0px 0px 5px 1px #000;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 30px;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 130px;
  z-index: 1000;
  margin-left: -25px;
}

.arrow-right {
  left: 300px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    right 1s, text-align 1s, background-color 1s;
}

.titledesc {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

// $level2-height: 235px;
// $level2-width: 170px;
// $level1-height: 235px;
// $level1-width: 170px;
// $level0-height: 235px;
// $level0-width: 170px;
$item-height: 235px;
$item-width: 170px;

$level-2-left: 124px;
$level-1-left: 25px;
$level0-left: 55px;
$level1-left: 90px;
// $level1-left: 260px;
// $level2-left: 60px;

.level-2 {
  height: $item-height;
  width: $item-width;
  line-height: $item-height;

  left: $level-2-left;
  margin-top: 25px;
}

.level-1 {
  height: $item-height;
  width: $item-width;
  line-height: $item-height;
  // z-index:-1;
  left: $level-1-left;
  margin-top: 10px;
}

.level0 {
  height: $item-height;
  width: $item-width;
  line-height: $item-height;

  left: $level0-left;
  margin-top: 0px;
}

.level1 {
  height: $item-height;
  width: $item-width;
  line-height: $item-height;
  left: $level1-left;
  margin-top: 10px;
}

// // .level2 {
// //   height: $level2-height;
// //   width: $level2-width;
// //   line-height: $level2-height;

// //   margin-top: 25px;
// //   left: $level2-left;
// // }

// .left-enter {
//   opacity: 0;
//   left: $level-2-left - $level-2-width;
//   height: $level-2-height - 30;
//   width: $level-2-width - 20;
//   line-height: $level-2-height - 30;
//   margin-top: 40px;
// }

// .left-enter.left-enter-active {
//   opacity: 1;
//   left: $level2-left;
//   height: $level2-height;
//   width: $level2-width;
//   line-height: $level2-height;
//   margin-top: 25px;
//   transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
//     line-height 1s;
// }

// .left-leave {
//   opacity: 1;
//   left: $level-2-left;
//   height: $level2-height;
//   width: $level2-width;
//   line-height: $level2-height;
//   margin-top: 25px;
// }

// .left-leave.left-leave-active {
//   left: $level-2-left + $level2-width + 20;
//   opacity: 0;
//   height: $level2-height - 30;
//   line-height: 120px;
//   margin-top: 40px;
//   width: $level2-width - 20;
//   transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
//     line-height 1s;
// }

// .right-enter {
//   opacity: 0;
//   left: $level-2-left + $level-2-width;
//   height: $level-2-height - 30;
//   width: $level-2-width - 20;
//   line-height: $level-2-height - 30;
//   margin-top: 40px;
// }

// .right-enter.right-enter-active {
//   left: $level-2-left;
//   opacity: 1;
//   height: $level-2-height;
//   margin-top: 25px;
//   line-height: $level-2-height;
//   width: $level-2-width;
//   transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
//     line-height 1s;
// }

// .right-leave {
//   left: $level-2-left;
//   height: $level-2-height;
//   opacity: 1;
//   margin-top: 25px;
//   line-height: $level-2-height;
//   width: $level2-width;
// }

// .right-leave.right-leave-active {
//   left: $level2-left - $level-2-width;
//   opacity: 0;
//   height: $level-2-height - 30;
//   width: $level-2-width - 20;
//   line-height: $level-2-height - 30;
//   margin-top: 40px;
//   transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
//     line-height 1s;
// }

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
