* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  color: #222;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0 50px;
}

.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.active {
  z-index: 101;
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
  transform: scale(1.1);
}

p {
  margin-top: 0;
  padding-top: 0;
}

article {
  margin: 40px auto 20px auto;
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -ms-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -moz-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
}

.pieces {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -ms-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  -moz-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
  perspective: 1000;
}

#piece-1 {
  top: 0;
  left: 0;
  background: url(http://piersrueb.com/puzzle/img/puzzle-1.jpg);
}

#piece-2 {
  top: 0;
  left: 100px;
  background: url(http://piersrueb.com/puzzle/img/puzzle-2.jpg);
  background-size: 100px 100px;
}

#piece-3 {
  top: 0;
  left: 200px;
  background: url(http://piersrueb.com/puzzle/img/puzzle-3.jpg);
  background-size: 100px 100px;
}

#piece-4 {
  top: 100px;
  left: 0;
  background: url(http://piersrueb.com/puzzle/img/puzzle-4.jpg);
  background-size: 100px 100px;
}

#piece-5 {
  top: 100px;
  left: 100px;
  background: url(http://piersrueb.com/puzzle/img/puzzle-5.jpg);
  background-size: 100px 100px;
}

#piece-6 {
  top: 100px;
  left: 200px;
  background: url(http://piersrueb.com/puzzle/img/puzzle-6.jpg);
  background-size: 100px 100px;
}

p {
  margin: 20px auto;
  width: 1020px;
  text-align: center;
}

.glow {
  z-index: 101;
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
  transform: scale(1.1);
}

@-webkit-keyframes animate-guage {
  0% {
    transform: scale(1.04);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1.04);
  }
}

.glow-2 {
  -webkit-transform: rotateX(360deg);
}

@-webkit-keyframes animate-guage-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
