@media screen and (min-width: 0px) and (max-width: 375px) {
  .footer {
    width: 100%;
    line-height: 45px !important;
    font-size: 12px !important;
  }
}
@media screen and (min-width: 376px) and (max-width: 800px) {
  .footer {
    width: 100%;
    line-height: 80px !important;
    font-size: 20px !important;
  }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
  .footer {
    width: 100% !important;
  }
}
@media screen and (min-width: 800px) and (max-width: 2000px) {
  .footer {
    width: 385px;
  }
}
@media screen and (min-width: 800px) and (max-width: 815px) {
  .footer {
    width: 100%;
    line-height: 1px !important;
    font-size: 20px !important;
  }
}
.footer {
  height: 10vh;
  background: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 18;
  font-weight: 700;
  line-height: 60px;
  box-shadow: inset 0px 0px 0px 10px #000;
  padding-top: 15px;
}
/* .conic-gradient:after {
  display: block;
  border-radius: 9999px;
  content: '';
  width: 108%;
  height: 108%;
  position: absolute;
  z-index: -1;
  left: -4%;
  top: -4%;
  background-image: conic-gradient(#00AEEF, #fff, #00AEEF, #fff, #00AEEF);
  animation: spin 5s linear infinite;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg);
  }
} */