.App {
   text-align: center;
    width:100%;
    scroll-behavior: smooth;
    overflow-x: visible; 
    overflow-y: visible; 
  }
  /* .piece2 :hover{
   border: 2px solid #ff0000;
  
  } */
  .imagebox{
    width:300px;
    height:300px;
  }
  
  .container-puzzle{
   /*width:100%;
   height: 100%;
   padding-left: 5px;
   border: 2px solid #484848;
   background-image: url(../../assets/img/malboro.jpg);*/
   background-color: #000000;
   background-size: contain;
  
  position: relative;
  align-items: top;
  align-content: space-around;
  cursor: grabbing;
   }
  .dialog-box{
    backdrop-filter: blur(5px);
    border: 2px solid #484848;
    box-shadow: 5px 4px #484848,
    inset 4px 5px #484848;
    
  }
  dialog-title{
  color: teal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  
  }
  diag-content{
  background-color: thistle;
  color: #282c34;
  
  }
  .item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
  }
  .gridBox{
    background-color: grey;
    width: 350px;
    height: 350px;
   overflow-x: hidden;
   overflow-y: hidden;
  
  }
  .dropbox{
    background-color: grey;
    border: 1px solid #282c34;
    padding: 1px;
  
  }
  .cellule{
    width:50px;
    height:50px;
    border: 2px solid #fff;
    box-shadow: #61dafb;
    padding:2px;
  }
  .cellule :hover{
    border: #282c34;
    background-color: cadetblue;
  }
  .cell :hover{
   background-color: darkcyan;
  }
  
  .box-puzzle{
    cursor: crosshair;
    border: 1px solid border;
    position: relative;
    box-shadow: 2px  2px 2px 2px #484848;
   }
  .box-item  {
    padding:0;
    margin: 0;
    cursor: grabbing;
    background: rgba(255, 255, 255, 0.75);
    transition: background-color 0.1s ;
  }
  .box-item1 , .glow {
    padding:0;
    margin: 0;
    cursor: grabbing;
    background: rgba(255, 255, 255, 0.75);
   }

   .box-active:active{
    padding:0;
    margin: 0;
    z-index:200;
    cursor: grabbing;
    perspective-origin: 100% 150%;
    transform-style: preserve-3d;
    border: 2px 1px 2px #000000 ;
    box-shadow: 7px 12px 6px 6px #282c34, inset 8px 12px 6px 6px #61dafb;
    background: rgba(255, 255, 255, 0.75);
    animation: fontscale 3s all;
    transform-origin: left top;
  }
  @keyframes fontscale {
  0% {
      transform :perspective(5rem) translateZ(4rem);
      opacity: 0.8;
      scale: (0);
        }
  100% {
      transform:perspective(5rem) translateZ(12rem);
      opacity: 1.8;
      scale: (1.2);
    }
  }
  .glow{
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
  transform:  scale(1.1);
}
  
 .box-game{
    width: 300px;
    height: 300px;
  }
    
  body {
  overscroll-behavior: contain;
  }

  .box-nonactive{
    padding:0;
    margin: 0;
    z-index: 1;
    cursor: grabbing;
    transform-style: preserve-3d;
    border: 2px 1px 2px #000000 ;
    background: rgba(255, 255, 255, 0.75);
   }
  .box-active{
    padding:0;
    margin: 0;
    z-index: 1;
    cursor: grabbing;
    transform-style: preserve-3d;
    border: 2px 1px 2px #000000 ;
    background: rgba(255, 255, 255, 0.75);
   }
   .box-after{
    padding:0;
    margin: 0;
    z-index: 100;
    cursor: grabbing;
    border: 2px 1px 2px #000000 ;
    box-shadow: 4px  5px 2px 2px #484848,4px  5px 10px 8px #282c34;
    background: rgba(255, 255, 255, 0.75);
    transform: scale(1.2) translateZ(150px);
  }

  .box-active :hover{
    padding:0;
    margin: 0;
    z-index: 101;
    cursor: grabbing;
    perspective-origin: 100% 100%;
    transform-style: preserve-3d;
    border: 2px 1px 2px #000000 ;
    box-shadow: 4px  5px 2px 2px #484848,4px  5px 10px 8px #282c34;
    background: rgba(255, 255, 255, 0.75);
    transform: scale(1.2) translateZ(150px);
    animation-delay: 10s;
    transition: transform 500ms ease-in-out;
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    animation-play-state:paused;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-link {
    color: #61dafb;
  }



  .puzzle:active{
    cursor: -webkit-grabbing;
    background-color: coral;
   }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .test {
    width: 100px;
    height: 100px;
    background-color: #61dafb;
  }
  
  @media screen and (max-width: 360px) and  (orientation: portrait)  {
  
    .box-puzzle{
      cursor:grabbing;
      width:100%;
      border: 1px solid border;
      box-shadow: 2px  2px 2px 2px #484848;
      position:'relative';
     
    }
    .box-contain :active{
      padding:0;
      margin: 0;
      cursor: grabbing;
      perspective-origin: 100% 150%;
      transform-style: preserve-3d;
      border: 2px 1px 2px #000000 ;
      box-shadow: 4px  5px 2px 2px #484848;
      background: rgba(255, 255, 255, 0.75);
     transform: scale(1.5);
     transition: transform 1s ease-in-out;
    }
  }

  @media screen and (max-width: 640px) and  (orientation: landscape)  {
    


     .box-puzzle{
       cursor: grabbing;
       width:100%;
       border: 1px solid border;
       box-shadow: 2px  2px 2px 2px #484848;
       position:'relative';
    
     }
     .box-contain :hover{
      padding:0;
      margin: 0;
      cursor: grabbing;
      perspective-origin: 100% 150%;
      transform-style: preserve-3d;
      border: 2px 1px 2px #000000 ;
      box-shadow: 4px  5px 2px 2px #484848;
      background: rgba(255, 255, 255, 0.75);
     transform: scale(1.5);
     transition: transform 1s ease-in-out;
    }
   }