/**
 * @Author: <> with ❤ by Aymen ZAOUALI
 * @Date:   2019-06-10T14:48:49+01:00
 * @Last modified by:   <> with ❤ by Aymen ZAOUALI
 * @Last modified time: 2019-06-12T15:49:18+01:00
 * @License: The computer program contained herein contains proprietary information which is the property of Chifco.
 * @Copyright: Copyright (c) 2019 CHIFCO
 */
 @media screen and (orientation: portrait) {
  .video-react .video-react-video {
    position: absolute;
    transform: rotate(90deg);

    transform-origin: bottom left;
    width: 100vh;
    height: 100vw;
    margin-top: -100vw;
    object-fit: contain;

    z-index: 4;
    visibility: visible;
  }
  .video-react.video-react-fluid {
    height: 100vh !important;
  }
  .video-react .video-react-control-bar {
    transform-origin: bottom left;
    transform: rotate(90deg);
    margin-bottom: 100vh;
    width: 95vh;
    height: 50px;
  }
  .video-react button {
    bottom: -95vh;
  }
  .video-react .video-react-bezel .video-react-bezel-icon {
    transform: rotate(90deg);
  }
}
@media screen and (orientation: landscape) {
  .video-react .video-react-video {
    width: 100vw;
    height: 90vh;
    object-fit: contain;
    z-index: 4;
    visibility: visible;
    
  }
  .video-react.video-react-fluid {
    height: 100vh !important;
    padding-top: 0px !important;
  }
  .video-react .video-react-control-bar {
    /* transform-origin: bottom top; */

    /* margin-bottom: 100vh; */

    height: 12vh !important;
  }
}

.video-react .video-react-progress-control {
  position: absolute;
  width: 100%;

}
.video-react .video-react-progress-holder .video-react-load-progress {
  height: 4px !important;
  
}
/* .video-react .video-react-time-tooltip, */
/* .video-react .video-react-play-progress:before,
.video-react .video-react-play-progress:after {
  z-index: 1;
  color:red
} */
/* .video-react .video-react-play-progress:before {
  position: absolute;
  top: -0.3333333333em;
  right: -0.5em;
  font-size: 0.9em;
  
} */
/* .video-react-icon-circle {
  display: none !important;
} */
/* .video-react .video-react-play-progress:before {
  display: none !important;
} */
.video-react .video-react-slider {
  height: 4px !important;
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
}
.video-react .video-react-big-play-button {
  display: none !important;
}

.video-react .video-react-play-control {
  cursor: pointer;
  flex: none;
  position: absolute;
  /* right: 0; */
  z-index: 99999999;
  top: 8%;
}
.video-react .video-react-fullscreen-control {
  display: none;
}
.video-react .video-react-time-control {
  display: none;

}
.video-react .video-react-progress-holder .video-react-play-progress {
  height: 4px;
  color:red
}
.video-react .video-react-volume-menu-button {
  display: none !important;
}
.video-react:hover .video-react-big-play-button {
  display: none !important;
}
.video-react .video-react-control-bar {
  background-color: #000 !important;
  z-index: 5;
}

.rota {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.video-react .video-react-play-progress {
  background-color:red;
  
}

@media all and (orientation: portrait) {
  .video-react .video-react-progress-control {
    position: absolute;
    width: 100vh;
    left: 0;
    color:red
  }
  .rota {
    transform: rotate(90deg);
  }
}

@media all and (orientation: landscape) {
  .video-react .video-react-progress-control {
    position: absolute;
    width: 100vw;
    left: 0;
  }
  .rota {
    transform: rotate(0deg);
  }
}
