.App {
  text-align: center;
}

a {
  text-decoration: none !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "NeulandGroteskRegular";
  src: local("NeulandGroteskRegular"),
    url(./assets/font/NeulandGrotesk-Regular.woff) format("woff");
}
@font-face {
  font-family: "NeulandGroteskCondensedRegular";
  src: local("NeulandGroteskCondensedRegular"),
    url(./assets/font/NeulandGrotesk-CondensedRegular.woff) format("woff");
}

@font-face {
  font-family: "NeulandGroteskBold";
  src: local("NeulandGroteskBold"),
    url(./assets/font/NeulandGrotesk-Bold.woff) format("woff");
}
@font-face {
  font-family: "NeulandGroteskCondensedBold";
  src: local("NeulandGroteskCondensedBold"),
    url(./assets/font/NeulandGrotesk-CondensedBold.woff) format("woff");
}

@font-face {
  font-family: "NeulandGroteskLight";
  src: local("NeulandGroteskLight"),
    url(./assets/font/NeulandGrotesk-Light.woff) format("woff");
}
@font-face {
  font-family: "NeulandGroteskCondensedLight";
  src: local("NeulandGroteskCondensedLight"),
    url(./assets/font/NeulandGrotesk-CondensedLight.woff) format("woff");
}

@font-face {
  font-family: "GiorgioSansBold";
  src: local("GiorgioSansBold"),
    url(./assets/font/GiorgioSansBold.ttf) format("woff");
}
