/**
 * @Author: <> with ❤ by Aymen ZAOUALI
 * @Date:   2019-04-22T16:38:46+01:00
 * @Last modified by:   <> with ❤ by Aymen ZAOUALI
 * @Last modified time: 2019-07-03T09:45:20+01:00
 * @License: The computer program contained herein contains proprietary information which is the property of Chifco.
 * @Copyright: Copyright (c) 2019 CHIFCO
 */

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "NeulandGroteskCondensedRegular","Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

:focus {
  outline: none !important;
}

@font-face {
  font-family: "youdeciden";
  src: url("./assets/font/YouDecideN-Layer_One.ttf") format("truetype");
}

#root {
  width: 385px;
}
.MuiDialog-paperFullScreen-45 {
  width: 27%;
}
@media screen and (max-width: 812px) {
  #root {
    width: 100%;
  }
  .MuiDialog-paperFullScreen {
    width: 100%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
progress:not([value]) {
  -webkit-appearance: none;
  appearance: none;
}

progress[value] {
  /* Reset the default appearance */

  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background: #000;
}

progress[value]::-webkit-progress-value {
  background: #fff;
}
